.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 67px;
}

.blog__cards-wrapper {
  margin-top: 71px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.blog-card {
  width: 25%;
  height: 480px;
  @media screen and (max-width: 1000px) {
    width: 50%;
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 4;
    }
    &:nth-child(4) {
      order: 3;
    }
    &:nth-child(5) {
      order: 6;
    }
    &:nth-child(6) {
      order: 5;
    }
    &:nth-child(7) {
      order: 7;
    }
    &:nth-child(8) {
      order: 8;
    }
  }
  @media screen and (max-width: 500px) {
    width: 100%;
    &::before {
      left: 50% !important;
      top: -27px !important;
      border-width: 0 35px 28px 35px !important;
      border-color: transparent transparent #e74f3e transparent !important;
      transform: translateX(-50%) !important;
    }
    &:nth-child(3) {
      order: 3;
    }
    &:nth-child(4) {
      order: 4;
    }
    &:nth-child(5) {
      order: 6;
    }
    &:nth-child(6) {
      order: 5;
    }
    &:nth-child(7) {
      order: 8;
    }
    &:nth-child(8) {
      order: 7;
    }
  }
}
.cards__img-coffee {
  background: url('../../../img/blog/coffe.png') center center no-repeat;
  background-size: cover;
}
.cards__img-clocks {
  background: url('../../../img/blog/clocks.png') center center no-repeat;
  background-size: cover;
}
.cards__img-road {
  background: url('../../../img/blog/road.png') center center no-repeat;
  background-size: cover;
}
.cards__img-car {
  background: url('../../../img/blog/car.png') center center no-repeat;
  background-size: cover;
}
.blog__inner {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 157px 0 143px;
  justify-content: space-between;
  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 100px 0;
  }
}
.statistic__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  font-family: 'Source Sans Pro', sans-serif;
  @media screen and (max-width: 900px) {
    width: 30%;
    &:first-child {
      width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    width: 100%;
  }
}
.stat__img-wrapper {
  width: 111px;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 49px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.stat__amount {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #f4f5f9;
}
.stat__info {
  font-weight: 400;
  letter-spacing: 0.9px;
  color: #f4f5f9;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.statistics {
  width: 100%;
  background: url('../../../img/blog/likes-bg.png') center center no-repeat;
  background-size: cover;
}
