<div class="blog-card blog__txt-card">
 <h3 class="card__pre-title">art/t-shirt</h3>
 <h2 class="card__title">T-SHIRT DESIGN</h2>
 <span class="card__span"></span>
 <div class="card__txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.</div>
 <a href="#" class="read__more">
  Read More
  <i class="far fa-angle-double-right"></i>
 </a>
</div>