<section class="pricing" id="pricing">
 <div class="container">
   <div class="pricing__inner inner">
    <div class="headline">
     <h2 class="headline__title">OUR PRICING</h2>
     <div class="headline__txt">A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.</div>
     <div class="paragraph paragraph-gray">
      <span></span>
      <div class="paragraph__dot"></div>
      <span></span>
     </div>
    </div>

    <div class="price__cards">
      <div class="price__card">
        <div class="price__name">Starter</div>
        <div class="price__wrapper">
          <div class="price__inner">
            <div class="price">$19</div>
          <div class="price__time">per month</div>
          </div>
        </div>
        <ul class="price__info">
          <li class="characteristic">Competition Analysis Methods</li>
          <li class="characteristic">All Ranked URLs</li>
          <li class="characteristic">International Support System</li>
          <li class="characteristic">Social Media Tracking</li>
        </ul>
        <a href="#" class="choose__plan">CHOOSE PLAN</a>
      </div>
      <div class="price__card price__card-premium">
        <div class="price__name">PREMIUM</div>
        <div class="price__wrapper">
          <div class="price__inner">
            <div class="price">$19</div>
          <div class="price__time">per month</div>
          </div>
        </div>
        <ul class="price__info">
          <li class="characteristic">Competition Analysis Methods</li>
          <li class="characteristic">All Ranked URLs</li>
          <li class="characteristic">International Support System</li>
          <li class="characteristic">Social Media Tracking</li>
        </ul>
        <a href="#" class="choose__plan">CHOOSE PLAN</a>
      </div>
      <div class="price__card">
        <div class="price__name">BUSINESS</div>
        <div class="price__wrapper">
          <div class="price__inner">
            <div class="price">$19</div>
          <div class="price__time">per month</div>
          </div>
        </div>
        <ul class="price__info">
          <li class="characteristic">Competition Analysis Methods</li>
          <li class="characteristic">All Ranked URLs</li>
          <li class="characteristic">International Support System</li>
          <li class="characteristic">Social Media Tracking</li>
        </ul>
        <a href="#" class="choose__plan">CHOOSE PLAN</a>
      </div>
    </div>
   </div>
 </div>
</section>