.touch {
  background-color: #f4f5f9;
}
.touch__inner {
  box-sizing: border-box;
  padding: 150px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__wrapper {
  margin-top: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  @media screen and (max-width: 640px) {
    flex-direction: column;
    justify-content: center;
  }
}
.contact__info {
  width: 40.8%;
  height: 566px;
  box-sizing: border-box;
  padding: 100px 125px 97px 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 3px;
  @media screen and (max-width: 940px) {
    padding: 100px 40px 97px 40px;
  }
  @media screen and (max-width: 640px) {
    width: 100%;
    margin-bottom: 30px;
  }
}
.form {
  width: 56.7%;
  height: 566px;
  box-sizing: border-box;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  @media screen and (max-width: 900px) {
    padding: 100px 50px;
  }
  @media screen and (max-width: 640px) {
    width: 100%;
  }
  .message__input {
    resize: none;
  }
  .form__input,
  textarea {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(153, 153, 153, 0.25);
    padding-bottom: 19px;
    background: transparent;
    font-family: 'Open Sans - Semibold', sans-serif;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .sbmt__form {
    width: 157px;
    height: 44px;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
    background-color: #e74e3e;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #c22b1a;
    }
  }
}

.contact__info-block {
  display: flex;
  flex-direction: column;
  h4 {
    color: #e74e3e;
    font-family: 'Source Sans Pro - Semibold', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
  }
  p,
  a {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}
