<header class="header">
  <div class="container">
    <div class="header__inner inner">
      <div class="logo">
        <svg width="141" height="63.00000000000001" xmlns="http://www.w3.org/2000/svg">
          <g>
            <rect stroke-width="0" stroke="#000" id="svg_1" height="72.90071" width="61.83202" y="-4.3015" x="-4.69078"
              fill="#ffffff" />
            <rect stroke="#ffffff" stroke-width="5" id="svg_6" height="62.97705" width="84.35108" y="0.01147"
              x="56.64891" fill="transparent" />
            <g id="svg_5">
              <text font-style="normal" font-weight="bold" xml:space="preserve" text-anchor="start"
                font-family="'Open Sans'" font-size="36" stroke-width="0" id="svg_8" y="47.01724" x="17.18365"
                stroke="#000" fill="#4a4c55">B</text>
              <text font-style="normal" font-weight="300" xml:space="preserve" text-anchor="start"
                font-family="Open Sans" font-size="36" stroke-width="0" id="svg_9" y="45.39831" x="68.20992"
                stroke="#000" fill="#ffffff">INO</text>
            </g>
          </g>
        </svg>
      </div>

      <nav class="nav" id="nav">
        <ul class="menu">
          <li class="menu__item menu__item-active">
            <a href="#main" class="menu__link">HOME</a>
          </li>
          <li class="menu__item">
            <a href="#main" class="menu__link">ABOUT US</a>
          </li>
          <li class="menu__item">
            <a href="#main" class="menu__link">PORTFOLIO</a>
          </li>
          <li class="menu__item">
            <a href="#pricing" class="menu__link">PRICING</a>
          </li>
          <li class="menu__item">
            <a href="#team" class="menu__link">TEAM</a>
          </li>
          <li class="menu__item">
            <a href="#blog" class="menu__link">Blog</a>
          </li>
          <li class="menu__item">
            <a href="#touch" class="menu__link">CONTACT</a>
          </li>
        </ul>
      </nav>
      <div class="menu__burger" id="burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</header>