<header class="header">
  <div class="container">
    <div class="header__inner inner">
      <div class="logo"><span>B</span>ino</div>
      <nav class="nav" id="nav">
        <ul class="menu">
          <li class="menu__item menu__item-active">
            <a href="#" class="menu__link" id="main">HOME</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link" id="main">ABOUT US</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link" id="main">PORTFOLIO</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link" id="pricing">PRICING</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link" id="team">TEAM</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link" id="blog">Blog</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link" id="touch">CONTACT</a>
          </li>
        </ul>
      </nav>
      <div class="menu__burger" id="burger">
        <span></span>
      </div>
    </div>
  </div>
</header>
