<header class="header">
  <div class="container">
    <div class="header__inner inner">
      <div class="logo"><span>B</span>ino</div>
      <nav class="nav" id="nav">
        <ul class="menu">
          <li class="menu__item menu__item-active">
            <a href="#main" class="menu__link">HOME</a>
          </li>
          <li class="menu__item">
            <a href="#main" class="menu__link">ABOUT US</a>
          </li>
          <li class="menu__item">
            <a href="#main" class="menu__link">PORTFOLIO</a>
          </li>
          <li class="menu__item">
            <a href="#pricing" class="menu__link">PRICING</a>
          </li>
          <li class="menu__item">
            <a href="#team" class="menu__link">TEAM</a>
          </li>
          <li class="menu__item">
            <a href="#blog" class="menu__link">Blog</a>
          </li>
          <li class="menu__item">
            <a href="#touch" class="menu__link">CONTACT</a>
          </li>
        </ul>
      </nav>
      <div class="menu__burger" id="burger">
        <span></span>
      </div>
    </div>
  </div>
</header>
