<section class="touch">
  <div class="container">
    <div class="touch__inner inner">
     <div class="headline">
      <h2 class="headline__title">kEEP IN TOUCH</h2>
      <div class="headline__txt">Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.</div>
      <div class="paragraph paragraph-gray">
       <span></span>
       <div class="paragraph__dot"></div>
       <span></span>
      </div>
     </div>
      <div class="contacts__wrapper">
        <div class="contact__info">
          <div class="contact__info-block">
           <h4>OUR ADDRESS</h4>
           <p>House #13, Streat road, Sydney 
            2310 Australia</p>
          </div>
          <div class="contact__info-block">
           <h4>CALL US</h4>
           <a href="tel:+8801681091425">+ 880 168 109 1425</a>
           <a href="tel:+0216809142">+ 0216809142</a>
          </div>
          <div class="contact__info-block">
           <h4>EMAIL US</h4>
           <a href="mailto:contactus@email.com">contactus@email.com</a>
          </div>
        </div>
        <form action="#" class="form">
         <input type="text" name="name" class="form__input" placeholder="Name">
         <input type="text" name="email" class="form__input" placeholder="Email">
         <input type="text" name="subject" class="form__input" placeholder="Subject">
         <textarea name="message" placeholder="Message"></textarea>
         <input type="submit" value="Send Message" class="sbmt__form">
        </form>
        
      </div>

       
       </div>
    </div>
  </div>
</section>