<section class="blog" id="blog">
 <div class="headline">
  <h2 class="headline__title">Our Blog</h2>
  <div class="headline__txt">Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio.</div>
  <div class="paragraph paragraph-gray">
   <span></span>
   <div class="paragraph__dot"></div>
   <span></span>
  </div>
 </div>
 <div class="blog__cards-wrapper">
   <div class="cards__img cards__img-coffee blog-card"></div>
   @@include("../blog-cards/_blog-cards.html")
   <div class="cards__img cards__img-clocks blog-card"></div>
   @@include("../blog-cards/_blog-cards.html")
   @@include("../blog-cards/_blog-cards.html")
   <div class="cards__img cards__img-road blog-card"></div>
   @@include("../blog-cards/_blog-cards.html")
   <div class="cards__img cards__img-car blog-card"></div>
 </div>
 <div class="statistics">
  <div class="container">
   <div class="blog__inner inner">
     <div class="statistic__card">
      <div class="stat__img-wrapper"><img src="../../img/icons/blog/likes.svg" alt="#"></div>
      <div class="stat__amount">3891</div>
      <div class="stat__info">User Favourites</div>
     </div>
     <div class="statistic__card">
      <div class="stat__img-wrapper"><img src="../../img/icons/blog/posts.svg" alt="#"></div>
      <div class="stat__amount">281K</div>
      <div class="stat__info">Posts Last 24 Hours</div>
     </div>
     <div class="statistic__card">
      <div class="stat__img-wrapper"><img src="../../img/icons/blog/likes2.svg" alt="#"></div>
      <div class="stat__amount">618</div>
      <div class="stat__info">Total Posts</div>
     </div>
     <div class="statistic__card">
      <div class="stat__img-wrapper"><img src="../../img/icons/blog/likes3.svg" alt="#"></div>
      <div class="stat__amount">178</div>
      <div class="stat__info">Campaigns</div>
     </div>
     <div class="statistic__card">
      <div class="stat__img-wrapper"><img src="../../img/icons/blog/likes4.svg" alt="#"></div>
      <div class="stat__amount">285</div>
      <div class="stat__info">Amazing Features</div>
     </div>
   </div>
  </div>
 </div>

</section>