.up-button {
  position: absolute;
  top: 0;
  right: 53px;
  width: 53px;
  height: 53px;
  background-color: #e74c3c;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: darken(#e74c3c, 15%);
  }
  @media screen and (max-width: 620px) {
    width: 40px;
    height: 40px;
    border: 1px solid #fff ;
  }
  svg {
    width: 13px;
    height: 8px;
  }
}
