<section class="slider swiper">
    <div class="container swiper-wrapper">

        <div class="slider__inner inner swiper-slide">
            <div class="pre__title">
                Our Clients Are Our First Priority
            </div>
            <h1 class="slide__title">WELCOME TO BINO</h1>
            <div class="paragraph">
                <span></span>
                <div class="paragraph__dot"></div>
                <span></span>
            </div>
            <div class="slide__txt">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>

        <div class="slider__inner inner swiper-slide">
            <div class="pre__title">
                Our Clients Are Our First Priority
            </div>
            <h1 class="slide__title">WELCOME TO BINO</h1>
            <div class="paragraph">
                <span></span>
                <div class="paragraph__dot"></div>
                <span></span>
            </div>
            <div class="slide__txt">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>

    </div>

    <div class="slide__buttons-wrapper">
        <a href="#" class="slide__button">GET STARTED NOW</a>
        <a href="#" class="slide__button slide__button-learn">LEARN MORE</a>
    </div>

    <a href="#pricing" class="slider__anchor anchor-navigation">
        <img src="./img/icons/anchor.svg" alt="">
    </a>

    <div class="slider__buttons">
        <button class="swiper-button-prev"></button>
        <button class="swiper-button-next"></button>
    </div>
</section>